<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="../../assets/logo.png" alt="..." height="40">
    </a>
        <div class="navbar-nav mr-auto">
      <li *ngIf="!isLoggedIn" class="nav-item">
        <a routerLink="login" class="nav-link">Login</a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item">
        <a routerLink="register" class="nav-link">New User?</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a routerLink="properties" class="nav-link">Properties</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a routerLink="add" class="nav-link">Add</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
