<div class="container-fluid">
    <div *ngIf="!submitted">
      <div class="form-row">

        <div class="form-group col-md-4">
          <label for="type">Type</label>
          <select
            class="form-control"
            id="type"
            required
            [(ngModel)]="property.type"
            name="type"
          >
            <option *ngFor="let type of propTypeKeys" [value]="propType">
              {{ type }}
            </option>
          </select>
        </div>

      <div class="form-group col-md-4">
        <label for="city">City</label>
        <input
          class="form-control"
          id="city"
          required
          [(ngModel)]="property.city"
          name="city"
        />
      </div>

      <div class="form-group col-md-4">
        <label for="pincode">Pincode</label>
        <input
          class="form-control"
          id="pincode"
          required
          [(ngModel)]="property.pincode"
          name="pincode"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group form-group col-md-8">
        <label for="address">Address</label>
        <input
          class="form-control"
          id="address"
          required
          [(ngModel)]="property.address"
          name="address"
        />
      </div>

      <div class="form-group form-group col-md-4" >
        <label for="flatnumber">Flat Number</label>
        <input
          class="form-control"
          id="flatnumber"
          required
          [(ngModel)]="property.flatnumber"
          name="flatnumber"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group form-group col-md-4">
        <label for="floor">Floor Number</label>
        <input
          class="form-control"
          id="floor"
          required
          [(ngModel)]="property.floor"
          name="floor"
        />
      </div>

      <div class="form-group form-group col-md-4">
        <label for="floor">Building/ Wing</label>
        <input
          class="form-control"
          id="building"
          required
          [(ngModel)]="property.building"
          name="building"
        />
      </div>

      <div class="form-group form-group col-md-4">
        <label for="street">Street</label>
        <input
          class="form-control"
          id="street"
          required
          [(ngModel)]="property.street"
          name="street"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group form-group col-md-4">
        <label for="landmarks">Landmark</label>
        <input
          class="form-control"
          id="landmarks"
          required
          [(ngModel)]="property.landmarks"
          name="landmarks"
        />
      </div>

      <div class="form-group form-group col-md-4">
        <label for="state">State</label>
        <input
          class="form-control"
          id="state"
          required
          [(ngModel)]="property.state"
          name="state"
        />
      </div>

      <div class="form-group form-group col-md-4">
        <label for="country">Country</label>
        <input
          class="form-control"
          id="country"
          required
          [(ngModel)]="property.country"
          value="India"
          name="country"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group form-group col-md-4">
        <label for="descrption">Descrption</label>
        <textarea rows="=4" class="form-control"
        id="descrption"
        required
        [(ngModel)]="property.descrption"
        name="descrption"></textarea>
      </div>

      <div class="form-group form-group col-md-4">
        <label for="furnishing">Furnishing</label>
        <select
          class="form-control"
          id="furnishing"
          required
          [(ngModel)]="property.furnishing"
          name="furnishing"
        >
          <option *ngFor="let item of furnishingKeys" [value]="furnishing">
            {{ item }}
          </option>
        </select>
      </div>

      <div class="form-group form-group col-md-4">
        <label for="baths">Number Of Bathrooms</label>
        <input
          class="form-control"
          id="baths"
          required
          [(ngModel)]="property.baths"
          name="baths"
        />
      </div>
    </div>

    <div class="form-row ">
      <div class="form-group form-group col-md-4">
        <label for="balconies">Number Of Balconies</label>
        <input
          class="form-control"
          id="balconies"
          required
          [(ngModel)]="property.balconies"
          name="balconies"
        />
      </div>

      <div class="form-group form-group col-md-4">
        <label for="facing">Facing</label>
        <input
          class="form-control"
          placeholder = "e.g. East Facing"
          id="facing"
          required
          [(ngModel)]="property.facing"
          name="facing"
        />
      </div>

      <div class="form-group form-group col-md-4">
        <label for="parkings">Number Of Parkings</label>
        <input
          class="form-control"
          id="parkings"
          required
          [(ngModel)]="property.parkings"
          name="parkings"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group form-group col-md-4">
        <label for="area">Carpet Area</label>
        <input
          class="form-control"
          id="area"
          placeholder = "Sq Feets"
          required
          [(ngModel)]="property.area"
          name="area"
        />
      </div>

      <div class="form-group form-group col-md-4">
        <label for="lift">Lift available?</label>
        <input
          class="form-control"
          id="lift"
          required
          [(ngModel)]="property.lift"
          name="lift"
        />
      </div>

      <div class="form-group form-group col-md-4">
        <label for="age">Age of Property</label>
        <input
          class="form-control"
          id="age"
          required
          [(ngModel)]="property.age"
          name="age"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group form-group col-md-4">
        <label for="rent">Rent</label>
        <input
          class="form-control"
          id="rent"
          required
          [(ngModel)]="property.rent"
          name="rent"
        />
      </div>

      <div class="form-group form-group col-md-4">
        <label for="deposit">Deposit</label>
        <input
          class="form-control"
          id="deposit"
          required
          [(ngModel)]="property.deposit"
          name="deposit"
        />
      </div>

      <div class="form-group form-group col-md-4">
        <label for="maintenance">Monthly Maintenance</label>
        <input
          class="form-control"
          id="maintenance"
          required
          [(ngModel)]="property.maintenance"
          name="maintenance"
        />
      </div>
    </div>
    <div class="form-row ">
      <div class="form-group col-md-6">
        <app-file-upload></app-file-upload>
        </div>
      </div>

      <div class="form-row ">
        <div class="form-group col-md-6">
        <app-google-map-display
        (cordinates)="onLocation($event)"
      ></app-google-map-display>
        </div>
      </div>
      <div class="text-right">
        <button (click)="saveProperty()" class="btn btn-primary pull-right">Submit</button>
      </div>
    </div>

    <div *ngIf="submitted">
      <h4>Property was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newProperty()">Add</button>
    </div>
</div>
