<div *ngIf="viewMode; else editable">
  <div *ngIf="currentProperty.property_id">
    <h4>Property</h4>
    <div>
      <label><strong>Type:</strong></label> {{ currentProperty.type }}
    </div>
    <div>
      <label><strong>City:</strong></label>
      {{ currentProperty.city }}
    </div>
    <div>
      <label><strong>Pincode:</strong></label>
      {{ currentProperty.pincode }}
    </div>
    <div>
      <label><strong>Address:</strong></label>
      {{ currentProperty.address }}
    </div>
    <div>
      <label><strong>Status:</strong></label>
      {{ currentProperty.available ? "Available" : "No" }}
    </div>

    <a
      class="badge badge-warning"
      routerLink="/properties/{{ currentProperty.property_id }}"
    >
      Edit
    </a>
  </div>

  <div *ngIf="!currentProperty">
    <br />
    <p>Please click on a Property...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentProperty.property_id" class="edit-form">
    <h4>Property</h4>
    <form>
      <div class="form-group">
        <label for="type">Type</label>
        <select
          class="form-control"
          id="type"
          required
          [(ngModel)]="currentProperty.type"
          name="type"
        >
          <option *ngFor="let type of propTypeKeys" [value]="propType">
            {{ type }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input
          type="text"
          class="form-control"
          id="city"
          [(ngModel)]="currentProperty.city"
          name="city"
        />
      </div>

      <div class="form-group">
        <label for="city">Pincode</label>
        <input
          type="text"
          class="form-control"
          id="pincode"
          [(ngModel)]="currentProperty.pincode"
          name="pincode"
        />
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <input
          type="text"
          class="form-control"
          id="address"
          [(ngModel)]="currentProperty.address"
          name="address"
        />
      </div>

      <div class="form-group">
        <label for="flatnumber">Flat Number</label>
        <input
          class="form-control"
          id="flatnumber"
          required
          [(ngModel)]="currentProperty.flatnumber"
          name="flatnumber"
        />
      </div>

      <div class="form-group">
        <label for="floor">Floor Number</label>
        <input
          class="form-control"
          id="floor"
          required
          [(ngModel)]="currentProperty.floor"
          name="floor"
        />
      </div>

      <div class="form-group">
        <label for="floor">Building/ Wing</label>
        <input
          class="form-control"
          id="building"
          required
          [(ngModel)]="currentProperty.building"
          name="building"
        />
      </div>

      <div class="form-group">
        <label for="street">Street</label>
        <input
          class="form-control"
          id="street"
          required
          [(ngModel)]="currentProperty.street"
          name="street"
        />
      </div>

      <div class="form-group">
        <label for="landmarks">Landmark</label>
        <input
          class="form-control"
          id="landmarks"
          required
          [(ngModel)]="currentProperty.landmarks"
          name="landmarks"
        />
      </div>

      <div class="form-group">
        <label for="state">State</label>
        <input
          class="form-control"
          id="state"
          required
          [(ngModel)]="currentProperty.state"
          name="state"
        />
      </div>

      <div class="form-group">
        <label for="country">Country</label>
        <input
          class="form-control"
          id="country"
          required
          [(ngModel)]="currentProperty.country"
          value="India"
          name="country"
        />
      </div>

      <div class="form-group">
        <label for="descrption">Descrption</label>
        <input
          class="form-control"
          id="descrption"
          required
          [(ngModel)]="currentProperty.descrption"
          name="descrption"
        />
      </div>

      <div class="form-group">
        <label for="furnishing">Furnishing</label>
        <select
          class="form-control"
          id="furnishing"
          required
          [(ngModel)]="currentProperty.furnishing"
          name="furnishing"
        >
          <option *ngFor="let item of furnishingKeys" [value]="furnishing">
            {{ item }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="baths">Number Of Bathrooms</label>
        <input
          class="form-control"
          id="baths"
          required
          [(ngModel)]="currentProperty.baths"
          name="baths"
        />
      </div>

      <div class="form-group">
        <label for="balconies">Number Of Balconies</label>
        <input
          class="form-control"
          id="balconies"
          required
          [(ngModel)]="currentProperty.balconies"
          name="balconies"
        />
      </div>

      <div class="form-group">
        <label for="facing">Facing</label>
        <input
          class="form-control"
          id="facing"
          required
          [(ngModel)]="currentProperty.facing"
          name="facing"
        />
      </div>

      <div class="form-group">
        <label for="parkings">Number Of Parkings</label>
        <input
          class="form-control"
          id="parkings"
          required
          [(ngModel)]="currentProperty.parkings"
          name="parkings"
        />
      </div>

      <div class="form-group">
        <label for="area">Carpet Area</label>
        <input
          class="form-control"
          id="area"
          required
          [(ngModel)]="currentProperty.area"
          name="area"
        />
      </div>

      <div class="form-group">
        <label for="lift">Lift available?</label>
        <input
          class="form-control"
          id="lift"
          required
          [(ngModel)]="currentProperty.lift"
          name="lift"
        />
      </div>

      <div class="form-group">
        <label for="age">Age of Property</label>
        <input
          class="form-control"
          id="age"
          required
          [(ngModel)]="currentProperty.age"
          name="age"
        />
      </div>

      <div class="form-group">
        <label for="rent">Rent</label>
        <input
          class="form-control"
          id="rent"
          required
          [(ngModel)]="currentProperty.rent"
          name="rent"
        />
      </div>

      <div class="form-group">
        <label for="deposit">Deposit</label>
        <input
          class="form-control"
          id="deposit"
          required
          [(ngModel)]="currentProperty.deposit"
          name="deposit"
        />
      </div>

      <div class="form-group">
        <label for="maintenance">Monthly Maintenance</label>
        <input
          class="form-control"
          id="maintenance"
          required
          [(ngModel)]="currentProperty.maintenance"
          name="maintenance"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentProperty.available ? "Available" : "No" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentProperty.available"
      (click)="updateAvailable(false)"
    >
      Mark UnAvailable
    </button>
    <button
      *ngIf="!currentProperty.available"
      class="badge badge-primary mr-2"
      (click)="updateAvailable(true)"
    >
      Mark Available
    </button>

    <button class="badge badge-danger mr-2" (click)="deleteProperty()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateProperty()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentProperty.property_id">
    <br />
    <p>Cannot access this Property...</p>
  </div>
</ng-template>
